<row class="footer text-center">
  <columns small="2" large="2">
    <small>
    <strong>
      Powered by
    </strong>
    </small>
  </columns>
  <columns small="3" large="3">
    <small>
      <center>
        <a href="http://cubetechnologies.com.mx"><center><img src="https://dl.dropboxusercontent.com/s/zfg549x2qrsumvv/favicon.ico?dl=0" alt=""/></center></a>
        <a href="http://cubetechnologies.com.mx">Cube Technologies</a>
      <center>
    </small>
  </columns>
  <columns small="7" large="7">
    <spacer size="30"/>
    <p>
    <small><strong>Copyright © 2016-2018.</strong> <span>All rights reserved.<span></small></p>
  </columns>
</row>
